<header-bar></header-bar>

<div class="main container">
  <div class="header">
    <div class="title">
      <p class="subtitle">{{ 'LOCATION.CARDS.CARD.drinks' | translate }}</p>
      <h1>{{ 'LOCATION.CARDS.MENUITEM.CREATE.title' | translate }}</h1>
      <p class="success">{{ loadingText }}</p>
    </div>
  </div>

  <div class="content">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="grid-2">
        <label for="categories">
          <span class="input-label">{{ 'LOCATION.CARDS.MENUITEM.FORM.category' | translate }}</span>
          <div class="input-wrapper text-wrapper" style="margin-top: -4px; height: 18px;">
            <select (change)="saveCategory($event.target.value)" name="categories">
              <option *ngFor ="let c of categories" value="{{c.categoryId}},{{c.categoryName}}">{{c.categoryName}}</option>
            </select>
          </div>
        </label>
        <label for="itemName">
          <span class="input-label">{{ 'LOCATION.CARDS.MENUITEM.FORM.name' | translate }}</span>
          <div class="input-wrapper text-wrapper">
            <input type="text" [(ngModel)]="menu_item.itemName" name="itemName" id="menuitemname" required>
          </div>
        </label>
        <label for="price">
          <span class="input-label">{{ 'LOCATION.CARDS.MENUITEM.FORM.price' | translate }}</span>
          <div class="input-wrapper text-wrapper">
            <input type="text" [(ngModel)]="menu_item.price" name="price" id="menuitemprice" required>
          </div>
        </label>
        <label for="itemImage">
          <span class="input-label">Item Image</span>
          <div class="input-wrapper text-wrapper">
            <input type="file" (change)="uploadSingle($event)" accept=".png,.jpg,.gif" class="form-control" required>
          </div>
        </label>
        <label for="itemImage">
          <span class="input-label">Item Description</span>
          <div class="input-wrapper text-wrapper">
            <input type="text" class="form-control" name="description" [(ngModel)]="menu_item.description" required>
          </div>
        </label>
      </div>
      
      <button type="submit" class="button button-primary">{{ 'SUBMIT.create' | translate }}</button>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-beat">
  <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>
<router-outlet></router-outlet>