.list {
  .orders-placed {
    .item {
      background: red;
      border: 0;
      
      p {
        color: white;
        font-weight: 700;
      }
    }
  }
}

.paid-bg {
  background: rgba(40, 222, 79, 0.65) !important;
}
.takeway-bg {
  background: rgba(40, 155, 222, 0.65) !important;
}