<header-owner></header-owner>

<div class="main container">
  <div class="header">
    <div class="grid-2">
      <div class="title">
        <h1>{{ 'COMPANY.OVERVIEW.title' | translate }}<br><span>{{ 'COMPANY.OVERVIEW.greeting' | translate:{name: fname} }}</span></h1>
        <p class="success">{{ loadingText }}</p>
        <p *ngIf="noBars" class="danger">{{ 'ERROR.noLocation' | translate }}</p>
      </div>
      <div class="buttons">
        <button routerLink="/erstellen" class="button button-primary">{{ 'COMPANY.OVERVIEW.addLocation' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="bars-overview">
      <div class="grid-2">
        <div class="card" *ngFor="let b of userBars;let i = index;" (click)="bar(b.barId,b.barName)">
          <h3>{{ b.barName }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-beat">
  <p style="font-size: 20px; color: white">{{ 'COMPANY.OVERVIEW.loading' | translate }}</p>
</ngx-spinner>
<router-outlet></router-outlet>