<header-admin></header-admin>

<div class="main container">
  <div class="header">
    <div class="grid-1">
      <div class="title">
        <p class="subtitle">Übersicht</p>
        <h1>Barbesitzer (<span>{{ barsCount }}</span>)</h1>
      </div>
    </div>

    <div class="grid-3">
      <label for="search">
        <span class="input-label">Suche</span>
        <div class="input-wrapper text-wrapper">
          <input (input)="onSearchChange($event.target.value)">
        </div>
      </label>
      <label for="packages">
        <span class="input-label">Wähle eine Kategorie aus</span>
        <div class="input-wrapper text-wrapper" style="margin-top: -4px; height: 18px;">
          <!-- Filter possibility between selected packages -->
          <select (change)="SearchPackageWise($event.target.value)" name="packages">
            <!-- Shows all accounts -->
            <option value="" selected>Alle</option>
            <!-- Shows only accounts, which have the package "Starter" -->
            <option value="gm8m">Starter</option>
            <!-- Shows only accounts, which have the package "Pro" -->
            <option value="8n3g">Pro</option>
          </select>
        </div>
      </label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="content">
    <div class="title">
      <h2>Übersicht</h2>
    </div>
    <div class="owners" *ngIf="userBars.length > 0">
      <div class="grid-2">
        <div class="small-card" *ngFor="let u of userBars">
          <div class="subtitles">
            <p (click)="AccountsPage(u.userId)">Bearbeiten</p>
          </div>
          <p>{{u.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-beat">
  <p style="font-size: 20px; color: white">Accounts laden...</p>
</ngx-spinner>
<router-outlet></router-outlet>