<header-bar></header-bar>

<div class="main container">
  <div class="header">
    <div class="title">
      <p class="subtitle">Breakfast</p>
      <h1>{{ 'LOCATION.CARDS.CATEGORY.EDIT.title' | translate }}</h1>
      <p class="success">{{ loadingText }}</p>
    </div>
  </div>

  <div class="content">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="grid-2">
        <label for="categoryName">
          <span class="input-label">{{ 'LOCATION.CARDS.CATEGORY.FORM.name' | translate }}</span>
          <div class="input-wrapper text-wrapper">
            <input type="text" [(ngModel)]="update_data.categoryName" name="categoryName" id="categoryname" required>
          </div>
        </label>
      </div>
      
      <div class="buttons">
        <button type="submit" class="button button-primary">{{ 'SUBMIT.update' | translate }}</button>
        <button class="button button-danger" (click)="deleteCategory()">{{ 'SUBMIT.delete' | translate }}</button>
      </div>
      
    </form>
  </div>
</div>

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-beat">
  <p style="font-size: 20px; color: white">Loading</p>
</ngx-spinner>
<router-outlet></router-outlet>