<header-admin></header-admin>

<div class="main container">
  <div class="header">
    <div class="grid-2">
      <div class="title">
        <p class="subtitle">User</p>
        <h1>{{userEmail}}</h1>
        <p class="success">{{loadingText}}</p>
        <p class="danger">{{errorMessage}}</p>
      </div>
      <div class="buttons">
        <button class="button button-progress" (click)="blockUser('block')" *ngIf="userStatus == 'active'">Blockieren</button>
        <button class="button button-success" (click)="blockUser('unblock')" *ngIf="userStatus == 'disable'">UnBlock</button>
        <button class="button button-danger" (click)="deleteUser()">Löschen</button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="bart-details">
      <div class="title">
        <h2>Bardetails</h2>
      </div>

      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="grid-2">
          <label for="firstName">
            <span class="input-label">Vorname</span>
            <div class="input-wrapper text-wrapper">
              <input type="text" name="firstName" [(ngModel)]="userData.firstName" id="firstName" required>
            </div>
          </label>
          <label for="lastName">
            <span class="input-label">Nachname</span>
            <div class="input-wrapper text-wrapper">
                <input type="text" name="lastName" [(ngModel)]="userData.lastName" id="lastName" required>
              </div>
          </label>
          <label for="title">
            <span class="input-label">Geschlecht</span>
            <div class="input-wrapper text-wrapper" style="margin-top: -4px; height: 18px;">
              <select name="title" [(ngModel)]="userData.title">
                <option value="male">Männlich</option>
                <option value="female">Weiblich</option>
              </select>
            </div>
          </label>
          <label for="birthDate">
            <span class="input-label">Geburtsdatum</span>
            <div class="input-wrapper text-wrapper">
              <input type="date" name="birthDate" [(ngModel)]="userData.birthDate" id="birthDate">
            </div>
          </label>
        </div>

        <button type="submit" class="button button-primary">Aktualisieren</button>
      </form>
    </div>
    
    <div class="divider"></div>

    <div class="order-history">
      <div class="title">
        <h2>Bestellhistorie</h2>
      </div>

      
    </div>

  </div>
</div>

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-beat">
  <p style="font-size: 20px; color: white">Userdetails anpassen...</p>
</ngx-spinner>
<router-outlet></router-outlet>