<div class="start">
  <div class="main container">
    <div class="header">
      <img src="assets/app_icon.png" alt="House of Mandi Logo">
      <h1>{{ 'PASSWORDRESET.title' | translate }}</h1>
      <div class="container-small">
        <p>{{ 'PASSWORDRESET.subtitle' | translate }}</p>
        <p><span class="success">{{ loadingText }}</span><span class="danger">{{ errorMessage }}</span></p>
      </div>
    </div>

    <div class="content">
      <div class="container-small">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="grid-1">
            <label for="email">
              <span class="input-label">{{ 'FORM.COMPANY.email' | translate }}</span>
              <div class="input-wrapper text-wrapper">
                <input type="email" [(ngModel)]="email" name="email" id="email" required>
              </div>
            </label>
          </div>

          <button type="submit" class="button button-primary">{{ 'PASSWORDRESET.passwordReset' | translate }}</button>
        </form>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>