.order {
  border-top: 2px solid white;
  padding-top: 36px;
  margin-bottom: 36px;

  &:first-child { border-top: 0; padding: 0; }
}
.itemImg{
  height: 163px !important;
  width: 500px !important;
  /* margin-right: 80px; */
  margin-left: -11px !important;
}