<div class="nav-admin">
  <nav class="admin">
    <div class="item">
      <img (click)="navigateHomeAdmin()" class="logo" src="../../assets/app_icon.png" alt="House of Mandi">
    </div>
    <div class="item">
      <ul>
        <li><a [class.active]="currentUrl == '/admin'" (click)="navigateBarowners()">Barbesitzer</a></li>
        <li><a [class.active]="currentUrl == '/admin/bars'" (click)="navigateBars()">Bars</a></li>
        <li><a [class.active]="currentUrl == '/admin/users'" (click)="navigateUsers()">Users</a></li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li></li>
        <li (click)="logout()"><i class="icon ion-ios-log-out"></i></li>
      </ul>
    </div>
  </nav>

  <nav class="admin-mobile">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li><a [class.active]="currentUrl == '/admin'" (click)="navigateBarowners()">Barbesitzer</a></li>
        <li><a [class.active]="currentUrl == '/admin/bars'" (click)="navigateBars()">Bars</a></li>
        <li><a [class.active]="currentUrl == '/admin/users'" (click)="navigateUsers()">Users</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="item">
      <img (click)="navigateHomeAdmin()" class="logo" src="../../assets/app_icon.png" alt="House of Mandi">
    </div>
  </nav>
</div>